.dashboard-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin: 3rem 0;
}

.dashboard-actions blockquote {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-actions div {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-actions div aside {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: lightgoldenrodyellow;
  padding: 1rem;
  border: 1px solid gray;
}

.dashboard-actions div aside blockquote {
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.dashboard-actions div aside i {
  font-size: 4rem;
}

.dashboard-actions div aside blockquote button {
  padding: 0.5rem 1.5rem;
  background-color: green;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
