.dashboard-project-updates {
  width: 100%;
}

.dashboard-project-updates div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard-project-updates div aside {
  display: flex;
  align-items: start;
  gap: 1rem;
  border: 1px solid gray;
  padding: 1rem;
}

.dashboard-project-updates div aside blockquote {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-project-updates div aside blockquote span {
  background-color: red;
  color: white;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.dashboard-project-updates div aside blockquote mark {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
}
