.add-issues {
  width: 35%;
  position: absolute;
  top: 15%;
  left: 30%;
  border: 1px solid black;
  z-index: 6;
  background-color: white;
  padding: 1rem;
}

.add-issues form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.add-issues form blockquote {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-issues form blockquote input,
.add-issues form blockquote textarea,
.add-issues form blockquote select {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid gray;
}

.add-issues form blockquote textarea {
  resize: none;
}
/**/
.add-issues form button {
  width: fit-content;
  margin: 0 auto;
  background-color: orangered;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1.5rem;
}

.add-issues form i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}
